
<!-- Membuat tabel ME -->
<% const DisplayList = function(items, paginatedItems) {%>
  <thead >
      <tr >
        <% headerValues.forEach(header => {%>
          <th scope="col"><%= header%></th>          
        <% })%>
 
      </tr>
  </thead>

  
  <% paginatedItems.forEach(item => {%>
      <tbody>
          <tr >
              <% headerValues.forEach(header => {%>

                <td ><%= item[header] %></td>
                
              <% })%>  
          </tr>
      </tbody>
  <% }); %>
<% }    %>


<!-- Membuat Tombol dan halaman Pagination -->
<% function SetupPagination(items){ %>
  
  <% let page_count = Math.ceil(items.length/5);%>

  <% for (let i=1; i < page_count + 1; i++){%>
    <% if(i == current_page){%>
      <li class="page-item">
        <a class="page-link active" href="?page=<%= i %>"><%= i %></a>
      </li>
    <% }else{%>
      <li class="page-item">
        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
      </li>
    <% }%>
    
  <% }%>
<% }%>

<%- include('partials/header') %>

  <div class="d-flex flex-row">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand mt-5 mb-5" href="/dashboard">
          <img src="/img/logo.svg" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse px-2" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle btn btn-danger text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Mechanical & Electrical </a>
              <ul class="dropdown-menu style="columns: 2;"">
                <li><a class="dropdown-item" href="/me/harian-LVMDP">Harian LVMDP</a></li>
                <li><a class="dropdown-item" href="/me/cubicle">Cubicle</a></li>
                <li><a class="dropdown-item" href="/me/harian-PLN">Harian PLN</a></li>
                <li><a class="dropdown-item" href="/me/log-activities-ME">Log Activities ME </a></li>
                <li><a class="dropdown-item" href="/me/PDAM">PDAM</a></li>
                <li><a class="dropdown-item" href="/me/PDU-LT5">PDU LT5</a></li>
                <li><a class="dropdown-item" href="/me/rect-67">Rect 67</a></li>
                <li><a class="dropdown-item" href="/me/rect-LT9">Rect LT9</a></li>
                <li><a class="dropdown-item" href="/me/UPS-IO-LT8">UPS IO LT8</a></li>
                <li><a class="dropdown-item" href="/me/UPS-IO-LT5">UPS IO LT5</a></li>
                <li><a class="dropdown-item" href="/me/trafo">Trafo</a></li>
                <li><a class="dropdown-item" href="/me/temperature-&-humidity-PAC">Temperature & Humidity PAC</a></li>
                <li><a class="dropdown-item" href="/me/solar">Solar</a></li>
              </ul>
            </li>
    
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Security</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/security/stagging-room">Stagging Room</a></li>
                <li><a class="dropdown-item" href="/security/kontrol-gedung">Kontrol Gedung</a></li>
                <li><a class="dropdown-item" href="/security/KM-barang">KM Barang</a></li>
                <li><a class="dropdown-item" href="/security/kebersihan-pekerjaan-vendor">Kebersihan Pekerjaan Vendor</a></li>
                <li><a class="dropdown-item" href="/security/checklist-CCTV-NVR-1">Checklist CCTV NVR 1</a></li>
                <li><a class="dropdown-item" href="/security/checklist-CCTV-NVR-2">Checklist CCTV NVR 2</a></li>
                <li><a class="dropdown-item" href="/security/buku-mutasi-jaga">Buku Mutasi Jaga</a></li>
                <li><a class="dropdown-item" href="/security/buku-checklist-kendaraan">Buku Checklist Kendaraan</a></li>
              </ul>
            </li>
    
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Housekeeping </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>

        <button type="button" class="btn btn-danger singOut border mx-2 ">Sign Out</button>
      </div>
    </nav>
    <!-- ---------------- -->


    <!-- Judul Halaman -->
    <div class="flex-grow-1 container-fluid anyClass">
      <header>
        <div class="row justify-content-between p-4 align-items-center">
          <div class="col-9">
            <h1 class="text-overlay">Mechanical & Electrical</h1>
          </div>
          <div class="col-3 d-flex justify-content-end">
            <p><%= currentTime%></p>
          </div>
        </div>
      </header>
      <!-- -------------- -->

      <!-- Tabel ME -->
      <main class="py-4">
        <section class="konten p-3">
          <div class="row mb-4">
            <div class="col-9">
              <h3><%= subdivisi%></h3>
            </div>
            <div class="col-3 d-flex justify-content-end">
              
              <a class="btn btn-light ms-2" href="#" role="button">
                <img src="/img/filter.svg" alt="">
                Filter
              </a>
            </div>
          </div>

          <!-- Memanggil Fungsi Tabel ME -->
          <div class="row">
            <div class="col-11 table-width2">
              <table class="table table-bordered"" >

                <% DisplayList(items, paginatedItems); %>
              
              </table>
              
            </div>
          </div>

          <!-- Memanggil fungsi pagination -->
          <div class="row">
            <div class="col d-flex justify-content-end mt-3">
              <nav aria-label="Page navigation example">
                <ul class="pagination wrapper">
 
                  <% SetupPagination(items); %>
           
                </ul>
              </nav>
            </div>
          </div>
        </section>
      </main>
    </div>

  </div>

<%- include('partials/footer') %>
